h1 {
    background-color: magenta
}

#btn {

    color: turquoise;
}

#btn:hover {
    color: #c51b1b;
    font-size: larger;
}

body {
    background-color: rgb(0, 144, 250);
    background-image: url('operating\ system.png');
    background repeat: no-repeat;
    background-size: contain;
    background-position: top bottom;
}